<footer class="bg-main-light">
  <div class="container py-5">
    <h2>Get The FreshCart app</h2>
    <p class="text-muted">We Will Send you a Link, open it on your phone and download the app</p>

    <div class="row">
      <form class="col-md-10">
        <div class="input-group flex-nowrap">

          <input type="email" class="form-control" placeholder="email..">
        </div>
      </form>
      <div class="col-md-2">
        <button class="btn bg-main text-light">Share app link</button>
      </div>

    </div>
  </div>
</footer>
