 
   <div class="hero_area" data-aos="fade-up"
   data-aos-duration="2000">

    <!-- slider section -->
    <section class="slider_section " >
      <div class="play_btn">
        <a >
          <img src="assets/images/play.png" alt="">
        </a>
      </div>
      <div class="number_box">
        <div>
          <ol class="carousel-indicators indicator-2">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
          </ol>
        </div>
      </div>
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      The Latest
                      <span>
                       Proudct
                      </span>
                    </h1>
                    <p>
                        Discover the ultimate online shopping experience with FreshCart. From fresh produce to daily essentials, we bring everything you need right to your doorstep. Shop smarter,
                         save more, and enjoy unbeatable quality—only at FreshCart!
                    </p>
                    <div class="btn-box">
                      <a [routerLink]="['/home']" class="btn-1">
                        See More
                      </a>
                      <a  class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      The Latest
                      <span>
                        Furniture
                      </span>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      The Latest
                      <span>
                        Furniture
                      </span>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      The Latest
                      <span>
                        Furniture
                      </span>
                    </h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
 
 <!-- about section -->

  <section class="about_section layout_padding" data-aos="fade-up"
  data-aos-duration="2000">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>

            </div>
            <p>
                At FreshCart, we make shopping simple, convenient, and reliable. Our mission is to deliver fresh, high-quality products straight to your door. From groceries to daily essentials, we’re your trusted partner for a seamless shopping experience. Freshness and convenience—delivered!
            </p>
            <a [routerLink]="['/home']">
              See More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/images/about-img.png" alt="about-img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

    <!-- trending section -->

    <section class="trending_section layout_padding" data-aos="fade-up"
    data-aos-duration="2000">
        <div id="accordion">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <div class="heading_container">
                    <h2>
                      Trending Categories
                    </h2>
                  </div>
                  <div class="tab_container">
                    <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      <div class="number">
                        <h5>
                          01
                        </h5>
                      </div>
                      <hr>
                      <div class="t-name">
                        <h5>
                            Men's Fashion
                        </h5>
                      </div>
                    </div>
                    <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                      <div class="number">
                        <h5>
                          02
                        </h5>
                      </div>
                      <hr>
                      <div class="t-name">
                        <h5>
                        Electronics
                        </h5>
                      </div>
                    </div>
                    <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                      <div class="number">
                        <h5>
                          03
                        </h5>
                      </div>
                      <hr>
                      <div class="t-name">
                        <h5>
                        Beauty & Health
                        </h5>
                      </div>
                    </div>
                    <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                      aria-expanded="false" aria-controls="collapseFour">
                      <div class="number">
                        <h5>
                          04
                        </h5>
                      </div>
                      <hr>
                      <div class="t-name">
                        <h5>
                          Furnitures
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="img_container ">
                    <div class="box b-1">
                      <div class="img-box">
                        <img src="assets/images/t-1.jpg" alt="">
                      </div>
                      <div class="img-box">
                        <img src="assets/images/t-2.jpg" alt="">
                      </div>
                    </div>
                    <div class="box b-2">
                      <div class="img-box">
                        <img src="assets/images/t-3.jpg" alt="">
                      </div>
                      <div class="img-box">
                        <img src="assets/images/t-4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
      
    
              </div>
            </div>
          </div>
        </div>
    
      </section>
    
      <!-- end trending section -->

        <!-- discount section -->

  <section class="discount_section  layout_padding" data-aos="fade-up"
  data-aos-duration="2000">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              The Latest Collection
            </h2>
            <h2 class="main_heading">
              50% DISCOUNT
            </h2>

            <div class="">
              <a [routerLink]="['/home']">
                Buy Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/images/discount-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end discount section -->