<nav class="navbar navbar-expand-lg fixed-top bg-white">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="./assets/images/freshcart-logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link activeBtn" aria-current="page" routerLink="home" routerLinkActive="bg-btn">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link activeBtn" routerLink="cart" routerLinkActive="bg-btn">Cart</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="products">Products</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="catagories">Catagories</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="brands">Brands</a>
        </li> -->
      </ul>

<ul class="navbar-nav ms-auto mb-2 mb-lg-0 curcor-pointer" >
  <li class=" nav-item d-flex align-items-center ">
    <i class="fa-brands fa-instagram me-3"></i>
    <i class="fa-brands fa-facebook me-3"></i>
    <i class="fa-brands fa-tiktok me-3"></i>
    <i class="fa-brands fa-twitter me-3"></i>
    <i class="fa-brands fa-linkedin me-3"></i>
    <i class="fa-brands fa-youtube me-3"></i>
  </li>
  <li class="nav-item" *ngIf="!isLoggedIn">
    <a class="nav-link activeBtn" routerLink="signUp" routerLinkActive="bg-btn">Register</a>
  </li>
  <li class="nav-item" *ngIf="!isLoggedIn">
    <a class="nav-link activeBtn" routerLink="login" routerLinkActive="bg-btn">Login</a>
  </li>

  <li class="nav-item position-relative" *ngIf="isLoggedIn">
    <a class="nav-link" routerLink="/cart">

      <i class="fa-solid fa-cart-shopping text-main">
<div class="badge bg-main position-absolute top-0 end-0">{{numOfCartItems}}</div>
      </i>

    </a>
  </li>

  <li class="nav-item " (click)="logOut()" *ngIf="isLoggedIn">
    <span class="nav-link curcor-pointer activeBtn" >LogOut</span>
  </li>
</ul>
    </div>
  </div>
</nav>
