<div class="product h-100 px-2 py-2" data-aos="fade-up"
data-aos-duration="2000">
  <a [routerLink]="['/productDetails',product.id]">
  <img [src]="product.imageCover" class="w-100" alt="product">
  <p class="text-main" >{{product.category.name}}</p>
</a>
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="h6">{{product.title.split(" ").splice(0,2).join(" ")}}</h2>
    <button class="btn btn-link heartColor" title="add to favorite" [ngClass]="{'active-faviorte': isInWishList(product)}" (click)="toggleWishList(product)"><i class="fas fa-heart fa-2x "></i></button>
  </div>
  
  <div class="d-flex justify-content-between pb-3">
    <span>{{product.price}} EGP</span>
    <div>
      <i class="fa fa-star rating-color"></i>
     {{product.ratingsAverage}}
    </div>
  </div>

  <!-- <button class="btn bg-main w-100 text-white ">+ Add</button> -->

<a class="fancy w-100 btnADD" (click)="addProduct(product.id)">
  <span class="top-key"></span>
  <span class="text">+ Add</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
</div>
